
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<h2>The purchase in the amount of @ViewBag.Amount on the @ViewBag.PaymentMethod was aproved.</h2> 